{% extends 'writer/_main.html' %}
{% load i18n %}

{% block content %}
    {% for article in my_articles %}
        <div class="container bg-white shadow p-5 mt-5 form-layout-article">
            <h3>{{ article.title }}</h3>
            <p>
                {{ article.content }}
            </p>
            <hr>
            <div class="d-flex justify-content-between align-items-center no-wrap">
                <em>{{ article.date_posted }}</em>
                <a href="{% url 'update-article' article.id %}" class="btn btn-home" style="width: 35%; margin: 0;">
                    {% translate 'Update' %}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}