{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{% block tab_title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"
            defer="true">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
            defer="true">
        </script>
    </head>
    <body>
        <div class="container bg-white shadow p-5 form-layout">
            <h1>{% block form_title %}{% endblock %}</h1>
            
            <form method="POST">
                {% csrf_token %}

                {% block form_body %}
                
                {% endblock %}

                <input type="submit" value="{% block submit_action %}{% endblock %}" class="btn btn-primary">
                <button type="button" class="btn btn-home" value="{% translate "back" %}" onclick="window.location.href='{% url 'home' %}'">
                    {% translate "back" %}
                </button>
                <p class="text-center pt-1 mb-0 mt-4"> {% block back_text %}{% endblock %}</p>
            </form>
        </div>
    </body>
</html>