{% extends "account/_main.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{# Block for the browser tab title #}
{% block tab_title %}
    {% translate "User Registration" %}
{% endblock %}

{# Block for the form title displayed on page #}
{% block form_title %}
    {% translate "User Registration" %}
{% endblock %}

{# Block for the registration form content #}
{% block form_body %}
    {{ register_form | crispy }}
{% endblock %}

{# Block for the submit button text #}
{% block submit_action %}{% translate "Submit" %}{% endblock %}

{# Block for the login link text #}
{% block back_text %}
    {% translate "Already have an account?" %} 
    <a href="{% url 'login' %}">
        {% translate "Login" %}
    </a>
{% endblock %}